force-app/main/default/flows/AIP_Lifecycle_V2_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agent_Joined_Email_Alert</name>
        <label>Agent Joined Email Alert</label>
        <locationX>5803</locationX>
        <locationY>716</locationY>
        <actionName>Agent_Connection__c.AIP_Agent_Joined_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_AIP_Eligible_Joined_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AgentJoinedLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AIP_Submission_Closed_Email_Alert</name>
        <label>AIP Submission Closing Email Alert</label>
        <locationX>3197</locationX>
        <locationY>1692</locationY>
        <actionName>Agent_Connection__c.AIP_16_Day_AIP_Submission_Closed_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Submission_Closed_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AIPSubmissionClosingEmailLoopv2.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Below_GCI_Threshold</name>
        <label>Below GCI Threshold</label>
        <locationX>6418</locationX>
        <locationY>722</locationY>
        <actionName>Agent_Connection__c.AIP_Agent_Joined_but_Ineligible_because_below_GCI_threshold</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_AIP_Ineligible_Joined_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AgentIneligibleJoinedLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ineligible_due_to_non_Compass_contact_separated</name>
        <label>Ineligible due to non-Compass contact separated</label>
        <locationX>6124</locationX>
        <locationY>735</locationY>
        <actionName>Agent_Connection__c.AIP_Agent_Joined_but_Ineligible_because_non_Compass_contact_separated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_AIP_Ineligible_Joined_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AgentIneligibleJoinedLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Intro_Reminder_Email_Alert2</name>
        <label>Intro Reminder Email Alert</label>
        <locationX>2315</locationX>
        <locationY>1694</locationY>
        <actionName>Agent_Connection__c.AIP_12_Day_Intro_Reminder_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Intro_Reminder_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>IntroReminderLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Joined_as_team_member</name>
        <label>Joined as team member</label>
        <locationX>6537</locationX>
        <locationY>740</locationY>
        <actionName>Agent_Connection__c.AIP_Agent_Joined_but_Ineligible_because_joined_as_team_member</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_AIP_Ineligible_Joined_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AgentIneligibleJoinedLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_to_User_s_Chatter_Feed</name>
        <label>Post to User&apos;s Chatter Feed</label>
        <locationX>7735</locationX>
        <locationY>1615</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Loop_Through_User_List</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>userChatterNotificationTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varLoopUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Email Alert component using the Agent Connection Email alert, &apos;AIP: Introduction Expiring&apos;. Template, Sender address and other configuration changes should be made on the email alert.</description>
        <name>Send_Email_to_Agent</name>
        <label>Send Email To Agent</label>
        <locationX>6887</locationX>
        <locationY>1667</locationY>
        <actionName>Agent_Connection__c.AIP_Send_Introduction_Expiration_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Email_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>loopAgentConnection.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Intro_Expired_Email</name>
        <label>Send Intro Expired Email</label>
        <locationX>7754</locationX>
        <locationY>2609</locationY>
        <actionName>Agent_Connection__c.AIP_Introduction_Expired</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Intro_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ExpiredAIPsLogicLoopVariable.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email</name>
        <label>Send Job Failed Email</label>
        <locationX>3201</locationX>
        <locationY>3198</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>2640</locationX>
        <locationY>1096</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>410</locationX>
        <locationY>2128</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>6462</locationX>
        <locationY>2162</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>7036</locationX>
        <locationY>2149</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>5409</locationX>
        <locationY>2138</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email</label>
        <locationX>7342</locationX>
        <locationY>3529</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_Notifications</name>
        <label>Send Job Failed Email--Notifications</label>
        <locationX>7009</locationX>
        <locationY>1670</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_Notifications_0</name>
        <label>Send Job Failed Email--Notifications</label>
        <locationX>7725</locationX>
        <locationY>1446</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_Notifications_0_0_0_0_0</name>
        <label>Send Job Failed Email--Notifications</label>
        <locationX>6451</locationX>
        <locationY>50</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email--Notifications</label>
        <locationX>6597</locationX>
        <locationY>1207</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0_0_0</name>
        <label>Send Job Failed Email--Notifications</label>
        <locationX>5886</locationX>
        <locationY>1586</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Failure_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Failure_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Job_Summary_Email</name>
        <label>Send Job Summary Email</label>
        <locationX>8008</locationX>
        <locationY>2775</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Summary_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com,nicole.linzer@compass.com,jason.gelman@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Summary_Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Record_Threshold_Exceeded_Email</name>
        <label>Send Record Threshold Exceeded Email</label>
        <locationX>654</locationX>
        <locationY>2321</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>tmplt_Record_Thresdhold_Exceeded_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>lawrence.manfredi@compass.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>final_SenderAddressForSystemEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>tmplt_Record_Threshold_Exceeded_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Add Agent Connection to the collection to update</description>
        <name>Add_Agent_Connection_to_collection</name>
        <label>Add Agent Connection to collection</label>
        <locationX>4151</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>X30DayAIPstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateIntroConfirmLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Counter_for_Update_Intro_Confirmed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Agent_Connection_to_update_collection</name>
        <label>Add Agent Connection to update collection</label>
        <locationX>1130</locationX>
        <locationY>1481</locationY>
        <assignmentItems>
            <assignToReference>varAgentConnectionsToUpdateWithEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAgentConnection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loop_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AIP_to_be_updated</name>
        <label>Add AIP to be updated</label>
        <locationX>7467</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>IntroExpiredAIPstobeupdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpiredAIPsLogicLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expired_AIPs_Logic_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AIP_to_collection</name>
        <label>Add AIP to collection</label>
        <locationX>2130</locationX>
        <locationY>1515</locationY>
        <assignmentItems>
            <assignToReference>IntroReminderAIPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IntroReminderLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intro_Reminder_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AIP_to_collection_to_update_lead_task_created_timestamp</name>
        <label>Add AIP to collection to update lead task created timestamp</label>
        <locationX>4911</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>AIPswithLeadTaskCreatedTimestamptoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetLeadIdsfromAIPsLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AIP_to_combined_collection</name>
        <label>Add AIP to combined expired collection</label>
        <locationX>6958</locationX>
        <locationY>3007</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAIPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpiredAIPsNoOppLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expired_AIPs_No_Opp_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AIP_to_combined_collection_0</name>
        <label>Add AIP to combined expired collection</label>
        <locationX>7304</locationX>
        <locationY>2551</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAIPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExpiredAIPswJoinedLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expired_AIPs_w_Joined_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_eligible_joined_AIP_to_collection_to_update</name>
        <label>Add current eligible joined AIP to collection to update</label>
        <locationX>5499</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>EligibleJoinedAIPstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgentJoinedLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agent_Joined_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_ineligible_joined_loop_item_to_collection</name>
        <label>Add current ineligible joined loop item to collection</label>
        <locationX>6340</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>IneligibleJoinedcollectiontoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgentIneligibleJoinedLoopVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ineligible_Joined_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_leads_tasks_to_collection_variable_0</name>
        <label>Add leads tasks to collection variable</label>
        <locationX>5368</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>90 Day AIP Follow-up</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLeadIdsfromAIPsLoopVariable.NonCompassAgentLeadOwner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLeadIdsfromAIPsLoopVariable.Non_Compass_Agent_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadTasktoAddtoCollection.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoOppLeadTaskComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_task_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Owner_to_User_List_1</name>
        <label>Add Opp Owner to User List</label>
        <locationX>7140</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>varUserIdsForChatterList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAgentConnection.Opportunity__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Records_for_Chatter_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_Update_Collection</name>
        <label>Add Record to Update Collection</label>
        <locationX>6552</locationX>
        <locationY>1508</locationY>
        <assignmentItems>
            <assignToReference>varConnectionsToUpdateAfterEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAgentConnection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loop_Count_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SGP_to_User_List</name>
        <label>Add SGP to User List</label>
        <locationX>7424</locationX>
        <locationY>1599</locationY>
        <assignmentItems>
            <assignToReference>varUserIdsForChatterList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAgentConnection.Compass_Agent__r.SGP_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opp_Owner_to_User_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Submission_Closing_AIP_to_collection</name>
        <label>Add Submission Closing AIP to collection</label>
        <locationX>2960</locationX>
        <locationY>1503</locationY>
        <assignmentItems>
            <assignToReference>SubmissionClosingAIPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AIPSubmissionClosingEmailLoopv2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Submission_Closing_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_task_to_collection</name>
        <label>Add task to collection</label>
        <locationX>5379</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>NoOppTasksToCreateOnLeads</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadTasktoAddtoCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AIP_Lead_Task_Created_Timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Compass Email to the related Compass Agent&apos;s Compass Email (if populated)</description>
        <name>Assign_Compass_Email_Field</name>
        <label>Assign Compass Email Field</label>
        <locationX>1404</locationX>
        <locationY>1489</locationY>
        <assignmentItems>
            <assignToReference>loopAgentConnection.Compass_Agent_Compass_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAgentConnection.Compass_Agent__r.Compass_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Agent_Connection_to_update_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign &apos;Submission Closed&apos; to Intro Confirmed</description>
        <name>Assign_Intro_Confirmed</name>
        <label>Assign Intro Confirmed</label>
        <locationX>4397</locationX>
        <locationY>1741</locationY>
        <assignmentItems>
            <assignToReference>UpdateIntroConfirmLoopVariable.Introduction_Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submission Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Agent_Connection_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Count</name>
        <label>Assign Record Count</label>
        <locationX>555</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varAIPCollectionCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_AIPs_wo_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Count_is_Under_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ineligible_Joined_Loop_Counter</name>
        <label>Ineligible Joined Loop Counter</label>
        <locationX>6735</locationX>
        <locationY>527</locationY>
        <assignmentItems>
            <assignToReference>IneligibleJoinedLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Ineligible_Joined_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Email_Timestamp</name>
        <label>Set Email Timestamp</label>
        <locationX>6824</locationX>
        <locationY>1508</locationY>
        <assignmentItems>
            <assignToReference>loopAgentConnection.Introduction_Expiration_Email_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Intro_Reminder_Email_Timestamp</name>
        <label>Set Intro Reminder Email Timestamp</label>
        <locationX>2270</locationX>
        <locationY>1501</locationY>
        <assignmentItems>
            <assignToReference>IntroReminderLoopVariable.AIPIntroReminderEmailTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AIP_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Submission_Closed_Email_Timestamp</name>
        <label>Set Submission Closed Email Timestamp</label>
        <locationX>3168</locationX>
        <locationY>1503</locationY>
        <assignmentItems>
            <assignToReference>AIPSubmissionClosingEmailLoopv2.AIPSubmissionClosedEmailTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Submission_Closing_AIP_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Agent_Joined_Loop_Counter</name>
        <label>Update Agent Joined Loop Counter</label>
        <locationX>5363</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>AgentJoinedLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agent_Joined_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AIP_Eligible_Joined_Email_Timestamp</name>
        <label>Update AIP Eligible Joined Email Timestamp</label>
        <locationX>5653</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>AgentJoinedLoopVariable.AIPJoinedEligibleEmailTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_eligible_joined_AIP_to_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AIP_Ineligible_Joined_Email_Timestamp</name>
        <label>Update AIP Ineligible Joined Email Timestamp</label>
        <locationX>5978</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>AgentIneligibleJoinedLoopVariable.AIPIneligibleJoinedEmailTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_ineligible_joined_loop_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AIP_Intro_ExpirED_Timestamp</name>
        <label>Update AIP Intro ExpirED Timestamp</label>
        <locationX>7618</locationX>
        <locationY>2309</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAIPsLogicLoopVariable.AIPIntroductionExpirEDEmailTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intro_Expired_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AIP_Lead_Task_Created_Timestamp</name>
        <label>Update AIP Lead Task Created Timestamp</label>
        <locationX>5190</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>GetLeadIdsfromAIPsLoopVariable.AIPLeadTaskCreatedTimestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AIP_to_collection_to_update_lead_task_created_timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Counter_for_Update_Intro_Confirmed</name>
        <label>Update Counter for Update Intro Confirmed</label>
        <locationX>4011</locationX>
        <locationY>1726</locationY>
        <assignmentItems>
            <assignToReference>X30DayCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intro_Confirmed_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Intro_Confirmed</name>
        <label>Update Intro Confirmed</label>
        <locationX>7786</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>ExpiredAIPsLogicLoopVariable.Introduction_Confirmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Introduction Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AIP_Intro_ExpirED_Timestamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Intro_Expired_Counter</name>
        <label>Update Intro Expired Counter</label>
        <locationX>7469</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>IntroExpiredCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AIP_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Intro_Reminder_Counter</name>
        <label>Update Intro Reminder Counter</label>
        <locationX>2117</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>X12DayCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Intro_Reminder_Loop_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_Loop_Counter</name>
        <label>Update Lead Loop Counter</label>
        <locationX>5086</locationX>
        <locationY>1793</locationY>
        <assignmentItems>
            <assignToReference>LeadLoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead_Ids_from_AIPs_v2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Count</name>
        <label>Update Loop Count</label>
        <locationX>1058</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>varEligibleRecordsCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Eligible_Connections_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Count_2</name>
        <label>Update Loop Count</label>
        <locationX>6549</locationX>
        <locationY>1668</locationY>
        <assignmentItems>
            <assignToReference>varEmailsSentCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Agent_Connections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Submission_Closing_Counter</name>
        <label>Update Submission Closing Counter</label>
        <locationX>2969</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>X16DayCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AIP_Submission_Closing_Email_Loop_v2</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>comma-separated list of email addresses to be sent system job email notifications</description>
        <name>final_ListOfSystemEmailRecipients</name>
        <dataType>String</dataType>
        <value>
            <stringValue>lawrence.manfredi@compass.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>final_Record_Count_Threshold</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2000.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>final_SenderAddressForSystemEmails</name>
        <dataType>String</dataType>
        <value>
            <stringValue>aip@compass.com</stringValue>
        </value>
    </constants>
    <constants>
        <description>comma separated list of recipients</description>
        <name>ListofAIPrecipients</name>
        <dataType>String</dataType>
        <value>
            <stringValue>arya.viswanathan@compass.com,nicole.linzer@compass.com,jason.gelman@compass.com,lawrence.manfredi@compass.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Add_Opp_Owner_to_User_List</name>
        <label>Add Opp Owner to User List?</label>
        <locationX>7244</locationX>
        <locationY>1508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Add_Opp_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopAgentConnection.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserIdsForChatterList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopAgentConnection.Opportunity__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Records_for_Chatter_Alert</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Add_Opp_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Opportunity__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopAgentConnection.Opportunity__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opp_Owner_to_User_List_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_SGP_Owner_to_User_List</name>
        <label>Add SGP Owner to User List?</label>
        <locationX>7597</locationX>
        <locationY>1509</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Add_SGP_Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Compass_Agent__r.SGP_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varUserIdsForChatterList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopAgentConnection.Compass_Agent__r.SGP_Owner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opp_Owner_to_User_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes_Add_SGP_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Compass_Agent__r.SGP_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_SGP_to_User_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_Ineligible_for_Bonus</name>
        <label>Agent Ineligible for Bonus?</label>
        <locationX>6321</locationX>
        <locationY>918</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_agent_ineligible_because_non_Compass_contact_separated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgentIneligibleJoinedLoopVariable.Referral_Bonus_Ineligibility_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-Compass contact separated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ineligible_due_to_non_Compass_contact_separated</targetReference>
            </connector>
            <label>Yes, agent ineligible because non-Compass contact separated</label>
        </rules>
        <rules>
            <name>Yes_agent_ineligible_because_joining_agent_below_GCI_threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgentIneligibleJoinedLoopVariable.Referral_Bonus_Ineligibility_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Below GCI threshold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Below_GCI_Threshold</targetReference>
            </connector>
            <label>Yes, agent ineligible because joining agent below GCI threshold</label>
        </rules>
        <rules>
            <name>Yes_agent_ineligible_because_joined_as_team_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgentIneligibleJoinedLoopVariable.Referral_Bonus_Ineligibility_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Joined as team member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Joined_as_team_member</targetReference>
            </connector>
            <label>Yes, agent ineligible because joined as team member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Count_is_Under_Threshold</name>
        <label>Check if Count is Under Threshold</label>
        <locationX>730</locationX>
        <locationY>1948</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_Under_Threshold_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAIPCollectionCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>final_Record_Count_Threshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Eligible_Connections_1</targetReference>
            </connector>
            <label>Count is Under Threshold</label>
        </rules>
        <rules>
            <name>Count_is_Over_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAIPCollectionCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>final_Record_Count_Threshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Record_Threshold_Exceeded_Email</targetReference>
            </connector>
            <label>Count is Over Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Compass Email address is populated so we can stamp it on the Agent Connection record to be used by the email alert later in the flow.</description>
        <name>Compass_Email_Populated</name>
        <label>Compass Email Populated?</label>
        <locationX>1395</locationX>
        <locationY>1772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_populated_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Compass_Agent__r.Compass_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Compass_Email_Field</targetReference>
            </connector>
            <label>Email populated</label>
        </rules>
        <rules>
            <name>Email_populated_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopAgentConnection.Compass_Agent__r.Compass_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Eligible_Connections_1</targetReference>
            </connector>
            <label>Email NOT Populated</label>
        </rules>
    </decisions>
    <description>add Referral Bonus Payment Status &lt;&gt; Ineligible Also to 365 get records</description>
    <interviewLabel>AIP Lifecycle - V2 Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIP Lifecycle - V2 Scheduled</label>
    <loops>
        <name>Agent_Ineligible_Joined_Loop_v2</name>
        <label>Agent Ineligible Joined Loop v2</label>
        <locationX>6286</locationX>
        <locationY>1182</locationY>
        <assignNextValueToReference>AgentIneligibleJoinedLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_Ineligible_Joined</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agent_Ineligible_for_Bonus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ineligible_Joined_AIPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Agent_Joined_Loop_v2</name>
        <label>Agent Joined Loop v2</label>
        <locationX>5686</locationX>
        <locationY>1188</locationY>
        <assignNextValueToReference>AgentJoinedLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_Joined_Agent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agent_Joined_Email_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Eligible_Joined_AIPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>AIP_Submission_Closing_Email_Loop_v2</name>
        <label>AIP Submission Closing Email Loop v2</label>
        <locationX>3125</locationX>
        <locationY>1939</locationY>
        <assignNextValueToReference>AIPSubmissionClosingEmailLoopv2</assignNextValueToReference>
        <collectionReference>Get_AIPs_for_Submission_Closing_Email</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AIP_Submission_Closed_Email_Alert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Submission_Closing_AIPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Expired_AIPs_Logic_Loop_v2</name>
        <label>Expired AIPs Logic Loop v2</label>
        <locationX>7573</locationX>
        <locationY>2755</locationY>
        <assignNextValueToReference>ExpiredAIPsLogicLoopVariable</assignNextValueToReference>
        <collectionReference>ExpiredAIPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Intro_Expired_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Intro_Expired_AIPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Expired_AIPs_No_Opp_Loop_v2</name>
        <label>Expired AIPs - No Opp Loop v2</label>
        <locationX>6955</locationX>
        <locationY>2771</locationY>
        <assignNextValueToReference>ExpiredAIPsNoOppLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_Intro_Expired</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AIP_to_combined_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AIPs_Intro_Expired_opp_joined</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Expired_AIPs_w_Joined_Loop_v2</name>
        <label>Expired AIPs w Joined Loop v2</label>
        <locationX>7304</locationX>
        <locationY>2754</locationY>
        <assignNextValueToReference>ExpiredAIPswJoinedLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_Intro_Expired_opp_joined</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AIP_to_combined_collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expired_AIPs_Logic_Loop_v2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Lead_Ids_from_AIPs_v2</name>
        <label>Get Lead Ids from AIPs v2</label>
        <locationX>5231</locationX>
        <locationY>1939</locationY>
        <assignNextValueToReference>GetLeadIdsfromAIPsLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_wo_Opp_to_Create_Task_on_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_leads_tasks_to_collection_variable_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_tasks_on_lead</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Intro_Reminder_Loop_v2</name>
        <label>Intro Reminder Loop v2</label>
        <locationX>2215</locationX>
        <locationY>1900</locationY>
        <assignNextValueToReference>IntroReminderLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_for_Intro_Reminder</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Intro_Reminder_Email_Alert2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Intro_Reminder_AIPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Agent_Connections</name>
        <label>Loop through Agent Connections</label>
        <locationX>6721</locationX>
        <locationY>1950</locationY>
        <assignNextValueToReference>loopAgentConnection</assignNextValueToReference>
        <collectionReference>Get_AIP_Records_with_Expiring_Introductions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Email_to_Agent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Email_Notification_Timestamp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Eligible_Connections_1</name>
        <label>Loop through Eligible Connections 1</label>
        <locationX>1188</locationX>
        <locationY>1945</locationY>
        <assignNextValueToReference>loopAgentConnection</assignNextValueToReference>
        <collectionReference>Get_AIPs_wo_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Compass_Email_Populated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Agent_Connections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Records_for_Chatter_Alert</name>
        <label>Loop to build User Chatter List for Chatter</label>
        <locationX>7383</locationX>
        <locationY>1953</locationY>
        <assignNextValueToReference>loopAgentConnection</assignNextValueToReference>
        <collectionReference>Get_AIP_Records_with_Expiring_Introductions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_SGP_Owner_to_User_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_User_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_User_List</name>
        <label>Loop Through User List</label>
        <locationX>7755</locationX>
        <locationY>2027</locationY>
        <assignNextValueToReference>varLoopUserId</assignNextValueToReference>
        <collectionReference>varUserIdsForChatterList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Post_to_User_s_Chatter_Feed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AIPs_Intro_Expired</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Intro_Confirmed_Loop_v2</name>
        <label>Update Intro Confirmed Loop v2</label>
        <locationX>4147</locationX>
        <locationY>1938</locationY>
        <assignNextValueToReference>UpdateIntroConfirmLoopVariable</assignNextValueToReference>
        <collectionReference>Get_AIPs_to_Update_Intro_Confirmed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Intro_Confirmed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_AIPs_Intro_Confirmed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_tasks_on_lead</name>
        <label>Create tasks on lead</label>
        <locationX>5415</locationX>
        <locationY>1953</locationY>
        <connector>
            <targetReference>Update_AIPs_w_Lead_Task_Created_Timestamp</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>NoOppTasksToCreateOnLeads</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AIP_Records_with_Expiring_Introductions</name>
        <label>Get AIP Records with Expiring Introductions</label>
        <locationX>6464</locationX>
        <locationY>1951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Agent_Connections</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Expiration_Notification_Eligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Expiration_Email_Timestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ineligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>As a Compass agent, Id like to be nudged  to make the introduction I promised earlier or confirm I am not planning to make it after all. 12 days after submission date</description>
        <name>Get_AIPs_for_Intro_Reminder</name>
        <label>Get AIPs for Intro Reminder</label>
        <locationX>1959</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intro_Reminder_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AIPIntroReminderEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_for_Submission_Closing_Email</name>
        <label>Get AIPs for Submission Closing Email</label>
        <locationX>2916</locationX>
        <locationY>1942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AIP_Submission_Closing_Email_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <filters>
            <field>AIPSubmissionClosedEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_Ineligible_Joined</name>
        <label>Get AIPs Ineligible Joined</label>
        <locationX>6072</locationX>
        <locationY>1195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Ineligible_Joined_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>AIPIneligibleJoinedEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Submission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2020-06-30</dateValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ineligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_Intro_Expired</name>
        <label>Get AIPs Intro Expired</label>
        <locationX>6735</locationX>
        <locationY>2739</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expired_AIPs_No_Opp_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>AIPIntroductionExpirEDEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Submission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceIntroduction__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ineligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_Intro_Expired_opp_joined</name>
        <label>Get AIPs Intro Expired - opp joined</label>
        <locationX>7100</locationX>
        <locationY>2761</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Expired_AIPs_w_Joined_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>AIPIntroductionExpirEDEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Submission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceIntroduction__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>365.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ineligible</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_Joined_Agent</name>
        <label>Get AIPs Joined Agent</label>
        <locationX>5513</locationX>
        <locationY>1181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Joined_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>AIPJoinedEligibleEmailTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Submission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Close_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2020-06-28</dateValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Bonus_Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Be Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AIPs_to_Update_Intro_Confirmed</name>
        <label>Get AIPs to Update Intro Confirmed</label>
        <locationX>3898</locationX>
        <locationY>1947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Intro_Confirmed_Loop_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all AIP records that have no Compass Agent: Compass Email populated</description>
        <name>Get_AIPs_wo_Emails</name>
        <label>Get AIPs wo Emails</label>
        <locationX>410</locationX>
        <locationY>1950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>Compass_Agent_Compass_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the AIPs without an associated opp that have an associated lead and create a task on that lead</description>
        <name>Get_AIPs_wo_Opp_to_Create_Task_on_Lead</name>
        <label>Get AIPs wo Opp to Create Task on Lead</label>
        <locationX>4990</locationX>
        <locationY>2001</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead_Ids_from_AIPs_v2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filters>
            <field>AIPLeadTaskCreatedTimestamp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Submission__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DaysSinceIntroduction__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>90.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Introduction_Confirmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Non_Compass_Agent_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Non_Compass_Agent_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Proof_of_Introduction__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agent_Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agent_Connections</name>
        <label>Update Agent Connections</label>
        <locationX>1550</locationX>
        <locationY>1948</locationY>
        <connector>
            <targetReference>Get_AIPs_for_Intro_Reminder</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <inputReference>varAgentConnectionsToUpdateWithEmail</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>DML to update the AIPs&apos; Intro Confirmed field</description>
        <name>Update_AIPs_Intro_Confirmed</name>
        <label>Update AIPs Intro Confirmed</label>
        <locationX>4425</locationX>
        <locationY>1965</locationY>
        <connector>
            <targetReference>Get_AIPs_wo_Opp_to_Create_Task_on_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <inputReference>X30DayAIPstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AIPs_w_Lead_Task_Created_Timestamp</name>
        <label>Update AIPs w Lead Task Created Timestamp</label>
        <locationX>5547</locationX>
        <locationY>1952</locationY>
        <connector>
            <targetReference>Get_AIPs_Joined_Agent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>AIPswithLeadTaskCreatedTimestamptoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eligible_Joined_AIPs</name>
        <label>Update Eligible Joined AIPs</label>
        <locationX>5844</locationX>
        <locationY>1183</locationY>
        <connector>
            <targetReference>Get_AIPs_Ineligible_Joined</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>EligibleJoinedAIPstoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Notification_Timestamp</name>
        <label>Update Email Notification Timestamp</label>
        <locationX>7012</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Loop_through_Records_for_Chatter_Alert</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>varConnectionsToUpdateAfterEmail</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ineligible_Joined_AIPs</name>
        <label>Update Ineligible Joined AIPs</label>
        <locationX>6468</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Get_AIP_Records_with_Expiring_Introductions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_Notifications_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>IneligibleJoinedcollectiontoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intro_Expired_AIPs</name>
        <label>Update Intro Expired AIPs</label>
        <locationX>7770</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>Send_Job_Summary_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>IntroExpiredAIPstobeupdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Intro_Reminder_AIPs</name>
        <label>Update Intro Reminder AIPs</label>
        <locationX>2469</locationX>
        <locationY>1904</locationY>
        <connector>
            <targetReference>Get_AIPs_for_Submission_Closing_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <inputReference>IntroReminderAIPs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submission_Closing_AIPs</name>
        <label>Update Submission Closing AIPs</label>
        <locationX>3370</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_AIPs_to_Update_Intro_Confirmed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_Job_Failed_Email</targetReference>
        </faultConnector>
        <inputReference>SubmissionClosingAIPs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>1954</locationY>
        <connector>
            <targetReference>Get_AIPs_wo_Emails</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-07-01</startDate>
            <startTime>12:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>The text of the Description/Comments field on the task associated to the lead with an Agent Connection AIP that has not yet had an opp generated.</description>
        <name>NoOppLeadTaskComments</name>
        <text>This is an automated alert to let you know that {!GetLeadIdsfromAIPsLoopVariable.Compass_Agent_Name__c} made a successful AIP introduction to {!GetLeadIdsfromAIPsLoopVariable.Non_Compass_Agent_Agnostic_Name__c} on {!GetLeadIdsfromAIPsLoopVariable.Date_of_Introduction__c}, and there hasnt been an opportunity created yet. Agent Connection: {!GetLeadIdsfromAIPsLoopVariable.Record_Link__c}. This could be a good time to connect with {!GetLeadIdsfromAIPsLoopVariable.Compass_Agent_Name__c} to evaluate if they can help reengage this prospect. Best of luck! AIP Team</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Failure_Email_Body</name>
        <text>&lt;p&gt;AIP Admins,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The daily job to process AIP Lifecycle notifications and updates failed. Contact your admin for assistance.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current record: &lt;a href=&quot;https://compassrealestate.lightning.force.com/{!$Flow.CurrentRecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://compassrealestate.lightning.force.com/{!$Flow.CurrentRecord}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current day/time: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Failure_Email_Subject</name>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;AIP Lifecycle - Job Failed&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Record_Thresdhold_Exceeded_Body</name>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;AIP Admins,&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;The number of AIP records that need the Compass Agent: Compass Email field populated ({!varEligibleRecordsCounter}) exceeds the threshold set in the system ({!final_Record_Count_Threshold}), so no notifications will be triggered. Salesforce flow loop elements can only handle up to 2,000 records.&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;br style=&quot;user-select: auto;&quot;&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;To resolve this, please have the Compass Agent: Compass Email field dataloaded onto all Agent Connection records where it&apos;s blank and ask a Salesforce admin/dev to manually run this flow again. The SF dev/admin may need to clone this scheduled flow as an autolaunched flow, and then run it once. Emails in the AIP lifecycle will then be triggered.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Record_Threshold_Exceeded_Subject</name>
        <text>Expiring AIP Introductions - Job Exceeded Record Threshold</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Summary_Email_Body</name>
        <text>AIP Admins,
{!X12DayCounter} introduction reminders were sent to agents.
{!X16DayCounter} submission closing reminders were sent to agents.
{!X30DayCounter} Introduction Confirmed fields were updated to &apos;Submission Closed&apos;.
{!LeadLoopCounter} tasks were created on leads where no opp exists on the related Agent Connection.
{!AgentJoinedLoopCounter} agent joined emails were sent to agents.
{!IneligibleJoinedLoopCounter} bonus ineligible emails were sent to agents.
{!varEmailsSentCounter} expiration notices were sent to agents.
{!IntroExpiredCounter} introduction expired notices were sent to agents.

SF Admins: {!varEligibleRecordsCounter} AIP records have had the Compass Agent&apos;s Email written to the Compass Agent: Compass Email field on the AIP record.</text>
    </textTemplates>
    <textTemplates>
        <name>tmplt_Summary_Email_Subject</name>
        <text>AIP Lifecycle - Daily Job Summary</text>
    </textTemplates>
    <textTemplates>
        <name>userChatterNotificationTemplate</name>
        <text>You have 1 or more agent introductions expiring in the next 30 days. Please see this report for more details: https://compassrealestate.lightning.force.com/lightning/r/Report/00O4N000004RlseUAC/view</text>
    </textTemplates>
    <variables>
        <name>AgentIneligibleJoinedLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>AgentJoinedLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AgentJoinedLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>AIPSubmissionClosingEmailLoopv2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>AIPswithLeadTaskCreatedTimestamptoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>EligibleJoinedAIPstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>ExpiredAIPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>ExpiredAIPsLogicLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>ExpiredAIPsNoOppLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>ExpiredAIPswJoinedLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>GetLeadIdsfromAIPsLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>IneligibleJoinedcollectiontoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>IneligibleJoinedLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IntroExpiredAIPstobeupdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>IntroExpiredCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IntroReminderAIPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>IntroReminderLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>LeadIdsToQueryToGetRecords</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadLoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadsToAddNoOppReminderTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadTasktoAddtoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>loopAgentConnection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <description>Create these tasks on leads to remind agent that no opp has been created for AIPs that were submitted/introduced</description>
        <name>NoOppTasksToCreateOnLeads</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>SubmissionClosingAIPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>UpdateIntroConfirmLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>varAgentConnectionsToUpdateWithEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>varAIPCollectionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varConnectionsToUpdateAfterEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>varEligibleRecordsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmailsSentCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLoopUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserIdsForChatterList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUsersToNotify_SGP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>X12DayCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>X16DayCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>X30DayAIPstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Connection__c</objectType>
    </variables>
    <variables>
        <name>X30DayCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
